// トップページカバー
.cover{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    background-size: cover;
    background-position: center;
    @media (min-width: 769px) {
        height: 100vh;
        width: 96.5%;
        margin: 2.5rem;
        //margin-bottom: 12rem;
    }
}

.cover picture {
    width: auto;
    height: 100vh;
    object-fit: cover;
    border-radius: 5rem;
}

.slick-slide img {
    display: block;
    height: 100vh;
}

.slick-list{
    border-radius: 2rem;
}
